@media (max-width: 576px) {
    .nav {
      
        flex-direction: column;
        
    }

    .nav-title {
        margin: auto;
    }

    .nav-btn {
        margin: auto;
        font-size: 15px;
    }
}